.form_container{
    margin-top: 100px;
}
.form_container>form{
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 400px;
    min-width: 250px;
    margin: auto;
}
.form_container>form>input{
    padding: 8px;
    /* margin-bottom: 10px; */
    outline: none;
}
.form_container>h1{
    text-align: center;
}
.form_container>form>.submit_btn{
    background-color: rgb(129, 107, 240);
    color: white;
    border: none;
    cursor: pointer;
}
.form_container>form>.submit_btn:hover{
    background-color: rgb(86, 86, 236);
}
.error_p{
    margin: 0;
    padding: 0;
    color: red;
    font-size: 10px;
}